@keyframes error {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.error {
  color: red;
  animation: ease-in-out error 0.2s;
  position: absolute;
}
.btn:disabled {
  cursor: no-drop;
}

.button {
  width: 200px;
  margin-left: 5px;
  margin-top: 5px;
}

.form-group {
  position: relative;
}
